################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RegisterProductDefinition/bin/Debug
/RegisterProductDefinition/obj/Debug
/packages
