<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <log4net>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="RegisterProductDefinition.log" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="BlobConnectionString" value="https://ilsequencercrossenv.blob.core.windows.net/productdefinitionblob?sv=2015-07-08&amp;sr=c&amp;sig=913x%2BgHmOd0WyPkPBRzdt5vZxZmvf6Bo4B%2B3KDzHXnU%3D&amp;st=2016-06-16T22%3A45%3A35Z&amp;se=2099-12-31T07%3A00%3A00Z&amp;sp=racl" />
  </appSettings>

</configuration>